<header>

    <div class="container">

        <div class="profile" *ngIf="user">

            <div class="profile-image d-block">
                <img *ngIf="!userImg" src="../../../../assets/images/no-user.jpg" alt="" class="avatar">
                <img *ngIf="userImg" src="{{userImg}}" class="avatar" alt="">
                <h1 class="profile-user-name text-capitalize">{{user.name}}</h1>
            </div>

            <div class="profile-user-settings">

                <!-- <h1 class="profile-user-name text-capitalize">{{user.userName}}</h1> -->

                <!-- <button class="btn profile-edit-btn">Edit Profile</button>

                <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button> -->

            </div>

            <!-- <div class="profile-stats">

                <ul>
                    <li><span class="profile-stat-count">{{user.posts}}</span> posts</li>
                    <li (click)="getFollowers(user)"><span class="profile-stat-count">{{user.followers}}</span>
                        followers</li>
                    <li (click)="getFollowing(user)"><span class="profile-stat-count">{{user.following}}</span>
                        following</li>
                </ul>

            </div> -->

            <div class="profile-bio">
                <p class="bio"><span class="profile-real-name "></span> {{user.bio}}</p>
            </div>

        </div>
        <!-- End of profile section -->

    </div>
    <!-- End of container -->

</header>

<main>
    <div class="container">
        <div class="row ">
            <ng-container *ngIf="postList && postList.length">
                <div class="gallery-item col-md-4 col-sm-12" *ngFor="let post of postList">
                    <video class="library gallery-image" controls preload="auto" data-config="some-js-object-here">
                        <source src="{{post.url}}" type='video/mp4'>
                    </video>
                    <div class="gallery-item-type">
                        <span class="visually-hidden">Video</span><i class="fas fa-video" aria-hidden="true"></i>
                    </div>

                    <!-- <div class="gallery-item-info" (click)="selectPost(post)">
                        <ul>
                            <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i
                                    class="fas fa-heart" aria-hidden="true"></i> {{post.likes}}</li>
                            <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i
                                    class="fas fa-comment" aria-hidden="true"></i> {{post.comments}}</li>
                        </ul>
                    </div> -->

                </div>
            </ng-container>
            <ng-container *ngIf="postList &&!postList.length">
                <h1 class="text-center noPost"><b>No Posts !!!</b></h1>
            </ng-container>
        </div>
        <!-- End of gallery -->
        <!-- <div class="loader"></div> -->
    </div>
    <!-- End of container -->
</main>