<mat-card class="p-0">
    <mat-card-title class="title">
        <div class="card-title-text" *ngIf="!admin._id">Add User</div>
        <div class="card-title-text" *ngIf="admin._id">Edit User</div>
        <mat-divider></mat-divider>
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="adminForm" (ngSubmit)="onSubmit()">
            <div fxLayout="row wrap">
                <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
                    <!-- <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="storeID" placeholder="storeID" formControlName="storeId" [(ngModel)]="admin.storeId">
                        </mat-form-field>
                    </div> -->
                    <div class="pb-1" *ngIf="admin.store">
                        <mat-form-field class="full-width">
                            <mat-select name="selectStore" placeholder="Select Store" formControlName="storeId" [(ngModel)]="admin.store._id">
                                <mat-option *ngFor="let storeName of stores" [value]="storeName._id">
                                    Name: {{storeName.name}}&nbsp;&nbsp; Store Id:{{storeName.storeID}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="pb-1" *ngIf="!admin.store">
                        <mat-form-field class="full-width">
                            <mat-select name="selectStore" placeholder="Select Store" formControlName="storeId">
                                <mat-option *ngFor="let storeName of stores" [value]="storeName._id">
                                    Name: {{storeName.name}}&nbsp;&nbsp; Store Id:{{storeName.storeID}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="username" placeholder="username" formControlName="username" [(ngModel)]="admin.username">
                        </mat-form-field>
                    </div>
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="firstName" placeholder="firstName" formControlName="firstName" [(ngModel)]="admin.firstName">
                        </mat-form-field>
                    </div>



                    <!-- <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="address_line1" placeholder="Address Line1"
                                [formControl]="adminForm.controls['addressLine1']" [(ngModel)]="admin.addressLine1">
                        </mat-form-field>
                    </div> -->

                    <!-- <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="country" placeholder="Country"
                                [formControl]="adminForm.controls['country']" [(ngModel)]="admin.country">
                        </mat-form-field>
                    </div> -->

                    <!-- <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="zip_code" placeholder="Zip Code" maxlength="6"
                                [formControl]="adminForm.controls['zipCode']" [(ngModel)]="admin.zipCode">
                        </mat-form-field>
                    </div> -->
                </div>

                <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="email" placeholder="email" formControlName="email" [(ngModel)]="admin.email">
                        </mat-form-field>
                    </div>
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="phoneNumber" placeholder="phoneNumber" formControlName="phoneNumber" [(ngModel)]="admin.phoneNumber">
                        </mat-form-field>
                    </div>
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="lastName" placeholder="lastName" formControlName="lastName" [(ngModel)]="admin.lastName">
                        </mat-form-field>
                    </div>
                    <!-- <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="profilePictureUrl" placeholder="profilePictureUrl" formControlName="profilePictureUrl" [(ngModel)]="admin.profilePictureUrl">
                        </mat-form-field>
                    </div> -->
                    <div class="pb-1" *ngIf="!admin._id">
                        <mat-form-field class="full-width">
                            <input matInput name="password" placeholder="password" formControlName="password" [(ngModel)]="admin.password">
                        </mat-form-field>
                    </div>


                    <!-- <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="status" placeholder="status"
                                [formControl]="adminForm.controls['status']" [(ngModel)]="admin.status">
                        </mat-form-field>
                    </div> -->
                    <!-- <div class="pb-1">
                        <mat-form-field class="full-width">
                            <mat-select name="servicesFulfilled" placeholder="servicesFulfilled" formControlName="servicesFulfilled"
                                [(ngModel)]="admin.servicesFulfilled">
                                <mat-option *ngFor="let gender of genders" [value]="gender.value">
                                    {{gender.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div> -->

                    <!-- <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput [type]="show ? 'password' : 'text'" name="password" placeholder="Password"
                                [formControl]="adminForm.controls['password']" [(ngModel)]="admin.password">
                            <mat-icon class="cursor-pointer" matSuffix (click)="show = !show">{{show ? 'visibility_off'
                                : 'visibility'}}</mat-icon>
                        </mat-form-field>
                    </div> -->
                    <!-- <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="phone" placeholder="Phone number" maxlength="10"
                                [formControl]="adminForm.controls['phoneNumber']" [(ngModel)]="admin.phoneNumber">
                        </mat-form-field>
                    </div> -->


                    <!-- <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="address_line2" placeholder="Address Line2"
                                [formControl]="adminForm.controls['addressLine2']" [(ngModel)]="admin.addressLine2">
                        </mat-form-field>
                    </div> -->

                    <!-- <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="city" placeholder="City" [formControl]="adminForm.controls['city']"
                                [(ngModel)]="admin.city">
                        </mat-form-field>
                    </div> -->
                    <!-- 
                    <div class="pb-1" *ngIf="!admin._id">
                        <mat-form-field class="full-width">
                            <mat-select name="roleId" placeholder="User Role" formControlName="roleId" [(ngModel)]="user.roleId" >
                                <mat-option *ngFor="let role of rolesList" [value]="role._id">
                                    {{role.type}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div> -->

                </div>
            </div>
            <button mat-raised-button color="warn" (click)="back()">Back</button>
            <button class="submitBtn" mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
        </form>
    </mat-card-content>
</mat-card>