<!-- <mat-form-field class="margin-333" style="width: 100%">
    <input matInput placeholder="Type to filter all columns" value="" (keyup)='updateFilter($event)'>
</mat-form-field> -->

<div>
    <button class="rasisedBtn" mat-raised-button (click)="add()" color="primary">ADD</button>

    <!-- <mat-form-field class="margin-333" style="width: 100%">
    <input matInput placeholder="Type to filter all columns" value="" (keyup)='updateFilter($event)'>
</mat-form-field> -->

    <mat-form-field style="width: 100%;">
        <input matInput placeholder="Search" value="" (keyup)='updateFilter($event)' />
    </mat-form-field>

    <ngx-datatable [rows]="rows" class="material bg-white" [limit]="8" [scrollbarH]="false" [rowHeight]="50" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [sorts]="[{ prop: 'name', dir: 'desc' }]">

        <ngx-datatable-column name="First Name">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <span class="text-capitalize"> {{row.firstName}}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="last Name">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <span class="text-capitalize"> {{row.lastName}}</span>
            </ng-template>
        </ngx-datatable-column>
        <!-- <ngx-datatable-column name="Last Name">
            <ng-template let-row="row" class="text-capitalize" ngx-datatable-cell-template>
                <span class="text-capitalize">  {{row.lastName}}</span>
            </ng-template>
        </ngx-datatable-column> -->
        <!-- <ngx-datatable-column name="Coins">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.coins}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Role">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <span class="text-capitalize"> {{row.role}}</span>
            </ng-template>
        </ngx-datatable-column> -->
        <!-- <ngx-datatable-column name="Status">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <mat-chip class="status-{{row.status}}" (click)="changeStatus(row)" matTooltip="status"
                    matTooltipPosition="above" mat-sm-chip selected>{{row.status}}</mat-chip>
            </ng-template>
        </ngx-datatable-column> -->
        <ngx-datatable-column name="User Name">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <span class="text-capitalize"> {{row.username}}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Email">
            <ng-template let-row="row" class="text-capitalize" ngx-datatable-cell-template>
                <span class="text-capitalize"> {{row.email}}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Phone Number">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.phoneNumber}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="storeId">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.store?.storeID}}
            </ng-template>
        </ngx-datatable-column>
        <!-- <ngx-datatable-column name="Zip Code ">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.zipCode}}
            </ng-template>
        </ngx-datatable-column> -->

        <!-- <ngx-datatable-column name="Created date">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.createdAt |date}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Account type">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.accounttype}}
        <span *ngIf="row.accounttype==='1'">Main account</span><span *ngIf="row.accounttype==='2'">View account</span>
        </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Verified">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <mat-chip class="status-{{row.verified}}" (click)="changeStatus(row)" matTooltip="verified" matTooltipPosition="above" mat-sm-chip selected><span *ngIf="row.verified==='1'">Verified</span><span *ngIf="row.verified==='0'">Not verified</span></mat-chip>
            </ng-template>
        </ngx-datatable-column> -->


        <ngx-datatable-column name="Action">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <button mat-icon-button [matMenuTriggerFor]="msgMenu" class="actionBtn">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #msgMenu="matMenu">
                    <button mat-menu-item (click)="update(row)">
                        <mat-icon>edit</mat-icon>Edit
                    </button>
                    <!-- <button mat-menu-item (click)="Profile(row)">
                        <mat-icon>account_circle</mat-icon>Profile
                    </button> -->
                    <button mat-menu-item (click)="deleteUser(row)">
                        <mat-icon>delete</mat-icon>Delete
                    </button>
                    <!-- <button mat-menu-item (click)="userProfile(row)">
                        <mat-icon>open_in_new</mat-icon>Manage
                    </button> -->

                </mat-menu>

            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>