<!-- <mat-form-field class="margin-333" style="width: 100%">
    <input matInput placeholder="Type to filter all columns" value="" (keyup)='updateFilter($event)'>
</mat-form-field> -->

<div>
    <button class="rasisedBtn" mat-raised-button (click)="add()" color="primary">ADD</button>

    <!-- <ngx-datatable class="material bg-white" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [limit]="10" [rows]="rows" [columns]="columns">
    </ngx-datatable> -->
    <mat-form-field style="width: 100%;">
        <input matInput placeholder="Search" value="" (keyup)='updateFilter($event)' />
    </mat-form-field>

    <ngx-datatable [rows]="rows" class="material bg-white" [limit]="8" [scrollbarH]="false" [rowHeight]="50"
        [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [sorts]="[{ prop: 'name', dir: 'desc' }]">

        <ngx-datatable-column name="Id">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <span class="text-capitalize"> {{row.id}}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Name">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <span class="text-capitalize"> {{row.plan}}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Coins">
            <ng-template let-row="row" class="text-capitalize" ngx-datatable-cell-template>
                <span class="text-capitalize"> {{row.coins}}</span>
            </ng-template>
        </ngx-datatable-column>
        <!-- <ngx-datatable-column name="Amount">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.amount}}
            </ng-template>
        </ngx-datatable-column> -->
        <ngx-datatable-column name="Cost Before Discount">
            <ng-template let-row="row" class="text-capitalize" ngx-datatable-cell-template>
                <span class="text-capitalize"> {{row.beforediscount}}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Cost After Discount">
            <ng-template let-row="row" class="text-capitalize" ngx-datatable-cell-template>
                <span class="text-capitalize"> {{row.afterdiscount}}</span>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Discount %">
            <ng-template let-row="row" class="text-capitalize" ngx-datatable-cell-template>
                <span class="text-capitalize"> {{row.discountpercent}}%</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Action">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <button mat-icon-button [matMenuTriggerFor]="msgMenu" class="actionBtn">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #msgMenu="matMenu">
                    <button mat-menu-item (click)="update(row)">
                        <mat-icon>update</mat-icon>Update
                    </button>
                    <button mat-menu-item (click)="deletePlan(row)">
                        <mat-icon>delete</mat-icon>Delete
                    </button>


                </mat-menu>

            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>