<mat-card class="p-0">
    <mat-card-title class="title">
        <div class="card-title-text" *ngIf="!store._id">Add Store</div>
        <div class="card-title-text" *ngIf="store._id">Edit Store</div>
        <mat-divider></mat-divider>
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="storeForm">
            <div fxLayout="row wrap">
                <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="storeId" placeholder="storeID" formControlName="storeID" [(ngModel)]="store.storeID">
                        </mat-form-field>
                    </div>
                    <!-- <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="Name" placeholder="Store Name" formControlName="name" [(ngModel)]="store.name">
                        </mat-form-field>
                    </div> -->
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="storeManager" placeholder="storeManager" formControlName="storeManager" [(ngModel)]="store.storeManager">
                        </mat-form-field>
                    </div>

                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="address" placeholder="address" formControlName="address" [(ngModel)]="store.address">
                        </mat-form-field>
                    </div>
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="city" placeholder="city" formControlName="city" [(ngModel)]="store.city">
                        </mat-form-field>
                    </div>
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="zipCode" placeholder="zipCode" formControlName="zipCode" [(ngModel)]="store.zipCode">
                        </mat-form-field>
                    </div>

                    <div class="pb-1" *ngIf="!store._id">
                        <mat-form-field class="full-width">

                            <input matInput type="text" class="form-control" formControlName="location" (keydown.enter)="$event.preventDefault()" placeholder="Enter Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
                            <button mat-raised-button color="primary" (click)="setData()">Set Location</button>

                        </mat-form-field>
                    </div>
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="staff" placeholder="staff" formControlName="staff" [(ngModel)]="store.staff">
                        </mat-form-field>
                    </div>
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="hoursOpen" placeholder="hoursOpen" formControlName="hoursOpen" [(ngModel)]="store.hoursOpen">
                        </mat-form-field>
                    </div>
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="demandForServiceStaff" placeholder="demandForServiceStaff" formControlName="demandForServiceStaff" [(ngModel)]="store.demandForServiceStaff">
                        </mat-form-field>
                    </div>
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="capacityToService" formControlName="capacityToService" [(ngModel)]="store.capacityToService">
                        </mat-form-field>
                    </div>
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="servicesFulfilled" placeholder="servicesFulfilled" formControlName="servicesFulfilled" [(ngModel)]="store.servicesFulfilled">
                        </mat-form-field>
                    </div>
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="incomingCall" placeholder="incomingCall" formControlName="incomingCall" [(ngModel)]="store.incomingCall">
                        </mat-form-field>
                    </div>
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="answeredCalls" placeholder="answeredCalls" formControlName="answeredCalls" [(ngModel)]="store.answeredCalls">
                        </mat-form-field>
                    </div>
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="capacityForAppointments" placeholder="capacityForAppointments" formControlName="capacityForAppointments" [(ngModel)]="store.capacityForAppointments">
                        </mat-form-field>
                    </div>
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="scheduledAppointments" placeholder="scheduledAppointments" formControlName="scheduledAppointments" [(ngModel)]="store.scheduledAppointments">
                        </mat-form-field>
                    </div>
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="answerfulfilledDemand" formControlName="answerfulfilledDemand" [(ngModel)]="store.answerfulfilledDemand">
                        </mat-form-field>
                    </div>
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="rawDemand" formControlName="rawDemand" [(ngModel)]="store.rawDemand">
                        </mat-form-field>
                    </div>
                    <!-- <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="percentFulfilled" formControlName="percentFulfilled" [(ngModel)]="store.percentFulfilled">
                        </mat-form-field>
                    </div> -->
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="actualCustomers" placeholder="actualCustomers" formControlName="actualCustomers" [(ngModel)]="store.actualCustomers">
                        </mat-form-field>
                    </div>
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="possibleCustomers" placeholder="possibleCustomers" formControlName="possibleCustomers" [(ngModel)]="store.possibleCustomers">
                        </mat-form-field>
                    </div>
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="covidNewCaseCount" formControlName="covidNewCaseCount" [(ngModel)]="store.covidNewCaseCount">
                        </mat-form-field>
                    </div>
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="covidHospitalizationRate" formControlName="covidHospitalizationRate" [(ngModel)]="store.covidHospitalizationRate">
                        </mat-form-field>
                    </div>
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="localInfectedRatePercent" formControlName="localInfectedRatePercent" [(ngModel)]="store.localInfectedRatePercent">
                        </mat-form-field>
                    </div>
                    <!-- for update store field -->

                    <!--  -->




                    <!-- <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="address_line1" placeholder="Address Line1"
                                [formControl]="storeForm.controls['addressLine1']" [(ngModel)]="admin.addressLine1">
                        </mat-form-field>
                    </div> -->

                    <!-- <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="country" placeholder="Country"
                                [formControl]="adminForm.controls['country']" [(ngModel)]="admin.country">
                        </mat-form-field>
                    </div> -->

                    <!-- <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="zip_code" placeholder="Zip Code" maxlength="6"
                                [formControl]="adminForm.controls['zipCode']" [(ngModel)]="admin.zipCode">
                        </mat-form-field>
                    </div> -->
                </div>

                <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">

                    <div>

                        <div class="pb-1">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="locaHospitalizationRate" formControlName="locaHospitalizationRate" [(ngModel)]="store.locaHospitalizationRate">
                            </mat-form-field>
                        </div>
                        <div class="pb-1">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="nationalUnemploymentPercent" formControlName="nationalUnemploymentPercent" [(ngModel)]="store.nationalUnemploymentPercent">
                            </mat-form-field>
                        </div>
                        <div class="pb-1">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="localUnemploymentPercent" formControlName="localUnemploymentPercent" [(ngModel)]="store.localUnemploymentPercent">
                            </mat-form-field>
                        </div>
                        <div class="pb-1">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="nationalPerCapitaDisposableIncome" formControlName="nationalPerCapitaDisposableIncome" [(ngModel)]="store.nationalPerCapitaDisposableIncome">
                            </mat-form-field>
                        </div>
                        <div class="pb-1">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="nationalConsumerConfidenceIndex" formControlName="nationalConsumerConfidenceIndex" [(ngModel)]="store.nationalConsumerConfidenceIndex">
                            </mat-form-field>
                        </div>
                        <div class="pb-1">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="localPerCapitaDisposableIncome" formControlName="localPerCapitaDisposableIncome" [(ngModel)]="store.localPerCapitaDisposableIncome">
                            </mat-form-field>
                        </div>
                        <div class="pb-1">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="localConsumerConfidenceIndex" formControlName="localConsumerConfidenceIndex" [(ngModel)]="store.localConsumerConfidenceIndex">
                            </mat-form-field>
                        </div>
                        <div class="pb-1">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="nationalFavorability" formControlName="nationalFavorability" [(ngModel)]="store.nationalFavorability">
                            </mat-form-field>
                        </div>
                        <div class="pb-1">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="localFavorability" formControlName="localFavorability" [(ngModel)]="store.localFavorability">
                            </mat-form-field>
                        </div>
                        <div class="pb-1">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="localDailyFootTraffic" formControlName="localDailyFootTraffic" [(ngModel)]="store.localDailyFootTraffic">
                            </mat-form-field>
                        </div>
                        <div class="pb-1">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="amountSpentOnCallCenterInDollars" formControlName="amountSpentOnCallCenterInDollars" [(ngModel)]="store.amountSpentOnCallCenterInDollars">
                            </mat-form-field>
                        </div>
                        <div class="pb-1">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="amountSpentOnAffiliateMarketingInDollars" formControlName="amountSpentOnAffiliateMarketingInDollars" [(ngModel)]="store.amountSpentOnAffiliateMarketingInDollars">
                            </mat-form-field>
                        </div>
                        <div class="pb-1">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="directSpendingOnMarketingChannelInDollars" formControlName="directSpendingOnMarketingChannelInDollars" [(ngModel)]="store.directSpendingOnMarketingChannelInDollars">
                            </mat-form-field>
                        </div>
                        <div class="pb-1">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="directSpendingOnMailMarketingInDollars" formControlName="directSpendingOnMailMarketingInDollars" [(ngModel)]="store.directSpendingOnMailMarketingInDollars">
                            </mat-form-field>
                        </div>
                    </div>
                    <div>
                        <div class="pb-1">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="amountSpentOnDisplayMarketingInDollars" formControlName="amountSpentOnDisplayMarketingInDollars" [(ngModel)]="store.amountSpentOnDisplayMarketingInDollars">
                            </mat-form-field>
                        </div>
                        <div class="pb-1">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="amountSpentOnEmailMarketingInDollars" formControlName="amountSpentOnEmailMarketingInDollars" [(ngModel)]="store.amountSpentOnEmailMarketingInDollars">
                            </mat-form-field>
                        </div>
                        <div class="pb-1">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="amountSpentOnOnlineVideosMarketingInDollars" formControlName="amountSpentOnOnlineVideosMarketingInDollars" [(ngModel)]="store.amountSpentOnOnlineVideosMarketingInDollars">
                            </mat-form-field>
                        </div>
                        <div class="pb-1">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="amountSpentOnReferralsInDollars" formControlName="amountSpentOnReferralsInDollars" [(ngModel)]="store.amountSpentOnReferralsInDollars">
                            </mat-form-field>
                        </div>
                        <div class="pb-1">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="amountSpentOnTVMarketingInDollars" formControlName="amountSpentOnTVMarketingInDollars" [(ngModel)]="store.amountSpentOnTVMarketingInDollars">
                            </mat-form-field>
                        </div>
                        <div class="pb-1">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="amountSpentOnOrganicSearchMarketingInDollars" formControlName="amountSpentOnOrganicSearchMarketingInDollars" [(ngModel)]="store.amountSpentOnOrganicSearchMarketingInDollars">
                            </mat-form-field>
                        </div>
                        <div class="pb-1">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="amountSpentOnOrganicSocialMediaMarketingInDollars" formControlName="amountSpentOnOrganicSocialMediaMarketingInDollars" [(ngModel)]="store.amountSpentOnOrganicSocialMediaMarketingInDollars">
                            </mat-form-field>
                        </div>
                        <div class="pb-1">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="amountPaidToLocalMarketingChannelInDollars" formControlName="amountPaidToLocalMarketingChannelInDollars" [(ngModel)]="store.amountPaidToLocalMarketingChannelInDollars">
                            </mat-form-field>
                        </div>
                        <div class="pb-1">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="amountPaidToSearchMarketingInDollars" formControlName="amountPaidToSearchMarketingInDollars" [(ngModel)]="store.amountPaidToSearchMarketingInDollars">
                            </mat-form-field>
                        </div>
                        <div class="pb-1">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="amountSpentOnRadioMarketingInDollars" formControlName="amountSpentOnRadioMarketingInDollars" [(ngModel)]="store.amountSpentOnRadioMarketingInDollars">
                            </mat-form-field>
                        </div>

                        <div>
                            <button mat-raised-button color="primary" (click)="openData('')">Add Competitores</button>
                        </div>

                    </div>
                    <!--  -->

                    <!-- <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="status" placeholder="status"
                                [formControl]="adminForm.controls['status']" [(ngModel)]="admin.status">
                        </mat-form-field>
                    </div> -->
                    <!-- <div class="pb-1">
                        <mat-form-field class="full-width">
                            <mat-select name="servicesFulfilled" placeholder="servicesFulfilled" formControlName="servicesFulfilled"
                                [(ngModel)]="admin.servicesFulfilled">
                                <mat-option *ngFor="let gender of genders" [value]="gender.value">
                                    {{gender.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div> -->

                    <!-- <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput [type]="show ? 'password' : 'text'" name="password" placeholder="Password"
                                [formControl]="adminForm.controls['password']" [(ngModel)]="admin.password">
                            <mat-icon class="cursor-pointer" matSuffix (click)="show = !show">{{show ? 'visibility_off'
                                : 'visibility'}}</mat-icon>
                        </mat-form-field>
                    </div> -->
                    <!-- <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="phone" placeholder="Phone number" maxlength="10"
                                [formControl]="adminForm.controls['phoneNumber']" [(ngModel)]="admin.phoneNumber">
                        </mat-form-field>
                    </div> -->


                    <!-- <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="address_line2" placeholder="Address Line2"
                                [formControl]="adminForm.controls['addressLine2']" [(ngModel)]="admin.addressLine2">
                        </mat-form-field>
                    </div> -->

                    <!-- <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="city" placeholder="City" [formControl]="adminForm.controls['city']"
                                [(ngModel)]="admin.city">
                        </mat-form-field>
                    </div> -->
                    <!-- 
                    <div class="pb-1" *ngIf="!admin._id">
                        <mat-form-field class="full-width">
                            <mat-select name="roleId" placeholder="User Role" formControlName="roleId" [(ngModel)]="user.roleId" >
                                <mat-option *ngFor="let role of rolesList" [value]="role._id">
                                    {{role.type}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div> -->

                </div>
            </div>
            <button mat-raised-button color="warn" (click)="back()">Back</button>
            <button class="submitBtn" mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
        </form>
    </mat-card-content>
</mat-card>