<mat-card class="p-0">
    <mat-card-title class="title">
        <!-- <div class="card-title-text" *ngIf="!user.firstName">Add User</div> -->
        <div class="card-title-text">{{formName}}</div>
        <mat-divider></mat-divider>
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="planForm" (ngSubmit)="onSubmit()">
            <div fxLayout="row wrap">
                <div fxFlex="100" fxFlex.gt-xs="75" class="pr-1">

                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input *ngIf="plan.id" matInput name="name" placeholder="Name" formControlName="name"
                                [(ngModel)]="plan.plan">
                            <input *ngIf="!plan.id" matInput name="name" placeholder="Name" formControlName="name"
                                [(ngModel)]="plan.name">
                        </mat-form-field>
                    </div>
                </div>

                \
                <div fxFlex="100" fxFlex.gt-xs="75" class="pr-1">

                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="coins" placeholder="Coins" formControlName="coins"
                                [(ngModel)]="plan.coins">
                        </mat-form-field>
                    </div>
                </div>

                <div fxFlex="100" fxFlex.gt-xs="75" class="pr-1">

                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="costbeforeDISCOUNT" placeholder="Cost Before Discount"
                                formControlName="beforediscount" [(ngModel)]="plan.beforediscount">
                        </mat-form-field>
                    </div>
                </div>

                <div fxFlex="100" fxFlex.gt-xs="75" class="pr-1">

                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="afterdiscount" placeholder="Cost After Discount"
                                formControlName="afterdiscount" [(ngModel)]="plan.afterdiscount">
                        </mat-form-field>
                    </div>
                </div>

                <div fxFlex="100" fxFlex.gt-xs="75" class="pr-1">

                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="discountpercentage" placeholder="Discount %"
                                formControlName="discountpercent" [(ngModel)]="plan.discountpercent">
                        </mat-form-field>
                    </div>
                </div>

                <!-- <div class="pb-1" *ngIf="!user._id">
                        <mat-form-field class="full-width">
                            <mat-select name="roleId" placeholder="User Role" formControlName="roleId"
                                [(ngModel)]="user.roleId">
                                <mat-option *ngFor="let role of rolesList" [value]="role._id">
                                    {{role.type}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div> -->

            </div>

            <button mat-raised-button color="warn" (click)="back()">Back</button>
            <button class="submitBtn" mat-raised-button color="primary">Submit</button>
        </form>
    </mat-card-content>
</mat-card>