.container {
    width: 100%;
}

.box {
    width: 500px;
    margin: auto;
    padding-top: 20px;
}

h1#title {
    margin-top: -20px;
}

button.mat-focus-indicator.close.mat-button.mat-button-base {
    display: block;
    margin-left: auto;
}

button#btnnn {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 15px;
}