<div class="container">
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close class="close" (click)="close()">&times;</button>
    </div>
    <h1 id="title">Competitores</h1>
    <div class="box">
        <form [formGroup]="Competitores">
            <div class="pb-1">
                <mat-form-field class="full-width">
                    <input matInput placeholder="companyName" formControlName="companyName">
                </mat-form-field>
            </div>
            <div class="pb-1">
                <mat-form-field class="full-width">
                    <input matInput placeholder="fulfilledCombinedDemand" formControlName="fulfilledCombinedDemand">
                </mat-form-field>
            </div>
            <div class="pb-1">
                <mat-form-field class="full-width">
                    <input matInput placeholder="fulfilledBrandDemand" formControlName="fulfilledBrandDemand">
                </mat-form-field>
            </div>
            <div class="pb-1">
                <mat-form-field class="full-width">
                    <input matInput placeholder="fulfilledDemandforBrand" formControlName="fulfilledDemandforBrand">
                </mat-form-field>
            </div>
            <div>
                <button class="submitBtn" id="btnnn" mat-raised-button color="primary" (click)="add()">Submit</button>
            </div>
        </form>
    </div>
</div>