<footer class="main-footer">
  <div class="container-dynamic d-flex">
    <!-- <a
      mat-raised-button
      color="accent"
      href="http://1.envato.market/JN1r7"
      >Buy Egret</a
    > -->
    <span class="m-auto"></span>
    Design & Developed by &nbsp; <a target="_blank" href="https://www.meander.software/"> MSPL</a>
  </div>
</footer>
