.mat-card {
    box-shadow: none !important;
}

.title {
    text-align: center;
}

.submitBtn {
    align-items: flex-end;
    margin-left: 15px;
}

mat-icon {
    cursor: pointer;
}
::ng-deep .egret-navy .mat-select-disabled .mat-select-value {
    color: rgba(0, 0, 0, 0.925)
}