<mat-card class="p-0">
    <mat-card-title class="title">
        <!-- <div class="card-title-text" *ngIf="!user.firstName">Add User</div> -->
        <div class="card-title-text">{{formName}}</div>
        <mat-divider></mat-divider>
    </mat-card-title>
    <mat-card-content>
            <div fxLayout="row wrap">

                <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
        <form [formGroup]="regionForm" (ngSubmit)="onSubmit()">

                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="firstName" placeholder="Name" formControlName="name"
                                [(ngModel)]="region.name">
                        </mat-form-field>
                    </div>
        </form>
                    <div class="pb-1"  >
                        <mat-form-field class="full-width" >
                            <mat-label>Region Type</mat-label>
                            <mat-select [disabled]="region.id && selectedRegiontype!=5 " [(ngModel)]="selectedRegiontype"  >
                                <div *ngFor="let regiontype of regiontypes">
                                    <mat-option *ngIf="regiontype.id!='1'" [value]="regiontype.id">
                                        {{regiontype.name}}
                                    </mat-option>
                                </div>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="pb-1" *ngIf="selectedRegiontype===3||selectedRegiontype===4||selectedRegiontype===5" >
                        <mat-form-field class="full-width">
                            <mat-label>Select Continental</mat-label>
                            <mat-select [disabled]="region.id && selectedRegiontype!=5"  [(ngModel)]="selectedContinental" >
                                <div *ngFor="let region of regions">
                                    <mat-option *ngIf="region.parentId===1" [value]="region.id">
                                        {{region.name}}
                                    </mat-option>
                                </div>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="pb-1" *ngIf="selectedRegiontype===4||selectedRegiontype===5">
                        <mat-form-field class="full-width" >
                            <mat-label>Select National</mat-label>
                            <mat-select [disabled]="region.id && selectedRegiontype!=5" [(ngModel)]="selectedNational" >
                                <div *ngFor="let region of regions">

                                <mat-option  *ngIf="region.parentId===selectedContinental"  [value]="region.id">
                                    {{region.name}}
                                </mat-option>
</div>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="pb-1" *ngIf="selectedRegiontype===5">
                        <mat-form-field class="full-width" >
                            <mat-label>Select Regional</mat-label>

                            <mat-select [disabled]="region.id && selectedRegiontype!=5" [(ngModel)]="selectedRegional" >
                                <div *ngFor="let region of regions">

                                <mat-option *ngIf="region.parentId===selectedNational"  [value]="region.id">
                                    {{region.name}}
                                </mat-option>
                                </div>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <!-- <div class="pb-1">
                        <mat-form-field class="full-width">
                            <mat-select name="sex" placeholder="Gender" formControlName="sex" [(ngModel)]="user.sex">
                                <mat-option *ngFor="let gender of genders" [value]="gender.value">
                                    {{gender.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div> -->




                </div>

                <!-- <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">

                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input matInput name="lastName" placeholder="Last name"
                                [formControl]="userForm.controls['lastName']" [(ngModel)]="user.lastName">
                        </mat-form-field>
                    </div>
                    <div class="pb-1" *ngIf="!user._id">
                        <mat-form-field class="full-width">
                            <input matInput [type]="show ? 'password' : 'text'" name="password" placeholder="Password"
                                [formControl]="userForm.controls['password']" [(ngModel)]="user.password">
                            <mat-icon class="cursor-pointer" matSuffix (click)="show = !show">{{show ? 'visibility_off'
                                : 'visibility'}}</mat-icon>
                        </mat-form-field>
                    </div>
                    -->




                <!-- <div class="pb-1" *ngIf="!user._id">
                        <mat-form-field class="full-width">
                            <mat-select name="roleId" placeholder="User Role" formControlName="roleId"
                                [(ngModel)]="user.roleId">
                                <mat-option *ngFor="let role of rolesList" [value]="role._id">
                                    {{role.type}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div> -->

                <!-- </div> -->
            </div>
            <button mat-raised-button color="warn" (click)="back()">Back</button>
            <button class="submitBtn" mat-raised-button color="primary" (click)="onSubmit()" [disabled]="regionForm.invalid">Submit</button>
        
    </mat-card-content>
</mat-card>