<div class="row">
    <div class="col-md-8 col-sm-12">
        <video class="video" controls preload="auto" data-config="some-js-object-here">
            <source src="{{post.url}}" type='video/mp4'>
        </video>
        <button mat-icon-button (click)="back()">
            <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="col-md-4 col-sm-12">
        <div class="container">
            <div class="title ">
                <h5>Liks and Comments</h5>
                <!-- <mat-icon class="delete" matTooltip="Delete Post" (click)="deletePost()">delete</mat-icon> -->
            </div>
            <div class="header">
                <p *ngIf="post && post.description" class="text-break">{{post.description}}</p>
                <p *ngIf="post && !post.description" class="text-break">No Description!!!</p>
            </div>
            <div class="content">
                <div *ngIf="likesList">
                    <button class="likes" *ngIf="likesList.length" [matMenuTriggerFor]="menu">
                        <mat-icon>favorite</mat-icon>&nbsp; 
                        <span *ngIf="likesList.length !== 1"> <b>{{lastLike}}</b> and {{totalLikes}} others like your post.</span>
                        <span *ngIf="likesList.length === 1"> <b>{{lastLike}}</b> liked your post.</span>
                    </button>
                    <mat-menu #menu="matMenu">
                        <ul mat-menu-item *ngFor="let user of likesList">
                            <li (click)="selectUser(user.userId)">
                                <img *ngIf="user.userId.avatar" [src]="user.userId.avatar" width="30" class="user-img rounded-circle mr-2">
                                <img *ngIf="!user.userId.avatar" src="../../../../assets/images/no-user.jpg" width="30" class="user-img rounded-circle mr-2">
                                <span class="text-capitalize">{{user.userId.userName}}</span>
                            </li>
                        </ul>
                    </mat-menu>
                </div>
                <div>
                    <button class="likes" *ngIf="likesList && likesList.length === 0">No Likes!!!!</button>
                </div>
                <div class="comments">
                    <div mat-subheader *ngIf="commentList && commentList.length">{{commentList.length}} Comments</div>
                    <div class="row d-flex justify-content-center commentPart" *ngIf="commentList && commentList.length">
                        <div class="col-md-12  col-sm-12">
                            <div class="card p-1" *ngFor="let comment of commentList">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="user d-flex flex-row align-items-center">
                                        <img *ngIf="comment.userId.avatar" [src]="comment.userId.avatar" width="30" class="user-img rounded-circle mr-2">
                                        <img *ngIf="!comment.userId.avatar" src="../../../../assets/images/no-user.jpg" width="30" class="user-img rounded-circle mr-2">
                                        <span>
                                            <small class="font-weight-bold text-primary text-capitalize cursor-pointer" (click)="selectUser(comment.userId)">{{comment.userId.userName}}</small><br>
                                            <small class="font-weight-bold">{{comment.comment}}</small>
                                        </span>
                                    </div>
                                    <small>
                                        <mat-icon class="delete" matTooltip="Delete Comment" (click)="deleteComment(comment)">delete</mat-icon>
                                    </small>
                                </div>
                                <div class="action d-flex justify-content-between mt-2 align-items-center">
                                    <div class="icons align-items-center">
                                        <i class="fa fa-heart"></i>
                                        <small class="m-1">{{comment.likes}} Likes</small>
                                    </div>
                                    <div class="reply px-2">
                                        <small>{{comment.createdOn | date: 'medium'}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="commentList && !commentList.length">
                        <h5>No Comments !!!!</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>