.video {
    width: 100%;
}

.col-md-8 {
    background-color: #ccc;
    height: 450px;
    display: flex;
    justify-content: center;
    padding-right: 0;
}

.mat-icon-button {
    right: 15px;
    position: absolute;
}

.col-md-4 {
    padding-left: 0px;
    padding-top: 20px;
}

.header {
    padding-top: 2%;
    text-align: center;
}

.text-break {
    text-align: start;
}

.likes {
    background-color: white;
    color: rgb(122, 122, 122);
    border: 0px solid;
    display: flex;
}

.likes mat-icon {
    color: red;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.comments {
    body {
        background-color: #f7f6f6
    }
    .card {
        border: none;
        // box-shadow: 5px 6px 6px 2px #e9ecef;
        // border-radius: 4px
    }
    .dots {
        height: 4px;
        width: 4px;
        margin-bottom: 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block
    }
    .badge {
        padding: 7px;
        padding-right: 9px;
        padding-left: 16px;
        box-shadow: 5px 6px 6px 2px #e9ecef
    }
    .user-img {
        margin-top: 4px;
        width: 30px;
        height: 30px;
    }
    .check-icon {
        font-size: 17px;
        color: #c3bfbf;
        top: 1px;
        position: relative;
        margin-left: 3px
    }
    .form-check-input {
        margin-top: 6px;
        margin-left: -24px !important;
        cursor: pointer
    }
    .form-check-input:focus {
        box-shadow: none
    }
    .icons i {
        margin-left: 8px;
        color: red;
    }
    .icons {
        margin-left: 30px;
    }
    .reply {
        margin-left: 12px
    }
    .reply small {
        color: #b7b4b4
    }
    .commentPart {
        max-height: 265px;
        overflow: auto;
    }
}

.delete:hover {
    color: red;
    cursor: pointer
}

.title h5 {
    width: 90%;
    float: left;
    text-align: center;
}

ul {
    list-style: none;
    margin: 0;
    width: 270px;
}