.main header {
    background-color: rgba(34, 42, 69, 0.96);
    color: white;
}

header h4 {
    padding: 15px;
}

.user-img {
    margin-top: 4px;
    width: 45px;
    height: 45px;
}

.mat-list-item {
    height: 65px;
}