<div class="main">
    <header>
        <h4 class="text-uppercase text-center">
            {{data.status}}
            <mat-icon class="float-right cursor-pointer" (click)="back()">close</mat-icon>
        </h4>
    </header>
    <div class="content">
        <mat-list role="list" *ngIf="followerList && followerList.length">
            <mat-list-item *ngFor="let user of followerList" role="listitem">
                <div class="d-flex flex-row cursor-pointer" (click)="profile(user.followingId)">
                    <img *ngIf="user.followingId.avatar" [src]="user.followingId.avatar" width="30" class="user-img rounded-circle mr-2">
                    <img *ngIf="!user.followingId.avatar" src="../../../../assets/images/no-user.jpg" width="30" class="user-img rounded-circle mr-2">
                    <span>
                        <h5 class="font-weight-bold mt-3 text-capitalize text-primary" >{{user.followingId.userName}}</h5>
                    </span>
                </div>
            </mat-list-item>
        </mat-list>

        <mat-list role="list" *ngIf="followingList && followingList.length">
            <mat-list-item *ngFor="let user of followingList" role="listitem">
                <div class="d-flex flex-row cursor-pointer" (click)="profile(user.userId)">
                    <img *ngIf="user.userId.avatar" [src]="user.userId.avatar" width="30" class="user-img rounded-circle mr-2">
                    <img *ngIf="!user.userId.avatar" src="../../../../assets/images/no-user.jpg" width="30" class="user-img rounded-circle mr-2">
                    <span>
                        <h5 class="font-weight-bold mt-3 text-capitalize text-primary">{{user.userId.userName}}</h5>
                    </span>
                </div>
                <mat-divider></mat-divider>
            </mat-list-item>
        </mat-list>

        <div *ngIf="(followingList && followingList.length === 0) || (followerList && followerList.length === 0)">
            <h4 class="text-uppercase text-center">NO {{data.status}} !!!</h4>
        </div>
    </div>
</div>